@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,400;1,700&display=swap');

:root{
    --primary-color:#F27405;
    --secondary-gray:#737373;
    --light-gray:#899F95;
    --body-bg:#000000;
    --font-alt:'Courier Prime', monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
   
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--body-bg);
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 40px;
    
    
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}

.container .header h1{
    color: var(--primary-color);
    outline: var(--secondary-gray);
    font-size: 40px;
    text-align: center;
    font-family: var(--font-alt);
}

/*nav-bar styling*/
.nav-bar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
}
.nav-bar.sticky{
    padding: 15px 0;
    background: #F27405;
}

.nav-bar .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.nav-bar .menu li{
    list-style: none;
    display: inline-block;
}
.nav-bar .menu li a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    display: block;
}
.nav-bar .menu li a:hover{
    color: var(--primary-color);
}
.nav-bar.sticky .menu li a:hover{
    color: var(--body-bg);
}




.menu-btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;

}


/*home styling*/
#home{
    padding: 20px 0;
    
}
#home .container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#home .container .left{
    width: 50%;
    margin:10px 0;
    color: white;
}
#home .container .right{
    width: 50%;
}
#home .container .left .text-1,
#home .container .left .text-3{
    font-size: 30px;
}
#home .container .left .text-2{
    font-size: 50px;
    margin-left: 20px;
    font-family: var(--font-alt);
    font-weight: 800;
    color: var(--primary-color);
}

/*about styling*/
#about .container .about-content{
    display: flex;
    margin-top: 20px;
}
#about .container .about-content .left{
    width: 50%;
}
#about .container .about-content .right{
    width: 50%;
}

/*about left*/
.about-content .image{
    padding: 10px;
}
.about-content .left .image img{
    object-fit:cover;
    height: auto;
    width: 100%;
}
.about-content .left .content{
    padding: 10px;
    align-items: center;
    width: 100%;
    color: white;
}
.about-content .left .content p{
    text-align: justify;
}
.about-content .left .social{
    padding: 2px 5px;
    align-items: center;
    display: flex;
    color: white;
}
.about-content .left .social .icon{
    width: 25%;
    text-align: center;
    font-size: 40px;
}
.about-content .left .social .icon a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/*about-right*/
.about-content .right  .skill-box{
    background-color:var(--light-gray);
    padding: 80px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    color: var(--body-bg);
    box-shadow: 0 0 10px var(--primary-color);
}

.about-content .right .skill-content{
    width: 100%;
    background-color:var(--secondary-gray);
    border-radius: 10px;
    margin: 20px 0px;
    height: 25px;
    border: black;

}
.skill-content .bar{
    width: 100%;
     background-color: var(--primary-color);
     border-radius: 10px;
     margin: 20px 0px;
     height: 25px;
}
.skill-content .bar span{
    color: var(--body-bg);
}

/*experience section*/

.excontainer{
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--body-bg);
    color: white;
    padding: 100px 0;
}
.excontainer .timeline{
   
    height:auto;
    margin:0 auto;
    position: relative;
}
.timeline ul{
    list-style: none;
}
.timeline ul li{
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--primary-color);
}
.timeline ul li:last-child{
    margin-bottom: 0;
}
.excontent{
    display: flex;
}
.excontent .ex-logo{
    width:auto;
    padding:5px;
    align-items: center;
}
.excontent .ex-logo img{
    border-radius: 50%;
}
.excontent .ex-text{
    margin-left: 15px;
   
}
.excontent .ex-text h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 30px;
    color: var(--body-bg);
    font-weight: 800;
}
.excontent .ex-text h3{
    margin-top: 10px;
    font-weight: 200;
    color:var(--primary-color) ;
}
.excontent .ex-text p{
    color: white;
}








/*project section styling*/

.projects .pr-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.projects .pr-container .pr-card{
    position: relative;
    width: 40%;

    padding: 20px;
    margin: 20px;
    background:var(--secondary-gray);
}
.pr-card .pr-icon{
    padding: 5px;
    margin-bottom: 10px;
}
.pr-card .pr-icon img{
    position: relative;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px black ;
}
.pr-card .pr-content{
    position: relative;
    height: 150px;
    overflow: hidden;
}
.pr-card .pr-content h1{
    color: rgb(5, 1, 5);
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--font-alt);
}
.pr-card .pr-content p{
    font-weight: 100;
    font-size: 20px;
    
}
.pr-card .pr-content::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background:linear-gradient(transparent, var(--secondary-gray));
}
.pr-card .more{
    position: relative;
    padding: 10px 15px;
    margin-top: 15px;
    background: var(--primary-color);
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
}
.pr-card .more::before{
    content: "READ MORE";
}
.pr-card.active .more::before{
    content: "READ LESS";
    
}
.pr-card.active .more{
    background: rgb(248, 6, 159);
    color: mintcream;
    
}
.pr-card.active .pr-content{
    height:auto ;
    overflow:none;
    

}
.pr-card.active .pr-content::before{
    display: none;
}

/*contact section styling*/
.contact .container .content{
    display: flex;
    align-items:center;
}

.contact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
  
}
.contactInfo .box{
    position: relative;
    display: flex;
    padding: 20px 0;
}
.contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    color:var(--body-bg) ;
}
.contactInfo .box .icon i{
    color: #000;
}
.contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    

}
.contactInfo .box .text h3{
    font-weight: 200;
    font-size: 20px;
    color:var(--light-gray);
}
.contactInfo .box .text p{
    color: rgb(255, 255, 255);
}

.contact .right{
    padding: 40px;
    width: 40%;
    background: white;
    margin-top: 10px;
}
.contact .right form h2{
    color: rgb(10, 10, 10);

}
.contact .right form .inputdata{
   position: relative;
   width: 100%;
    margin-top: 10px;
}
.contact .right form .inputdata input,.contact .right form .inputdata textarea{
   width: 100%;
   padding: 5px 0;
   font-size: 15px;
   margin: 5px 0;
   border: none;
   border-bottom: 2px solid black;
   outline: none;
   resize: none;
}
.contact .right form .inputdata span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contact .right form .inputdata input:focus~span,
.contact .right form .inputdata input:valid~span,
.contact .right form .inputdata textarea:focus~span,
.contact .right form .inputdata textarea:focus~span{
    color: var(--primary-color);
    font-size: 12px;
    transform: translateY(-15px);
}
.contact .right form .inputdata input[type="submit"]{
    width: 100px;
    background: var(--primary-color);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}

/*FOOTER*/
footer{
    background: var(--secondary-gray);
    padding: 20px 20px;
    color: rgb(248, 247, 247);
}
footer span a{
    color: var(--primary-color);
}
footer span{
    margin: 0 2px;
}




/* media queries*/

/*home query*/
@media(max-width:650px){
    #home .container{
        flex-direction:column-reverse;
    }
    #home .container .left{
        width: 100%;
    }
    #home .container .right{
        width: 100%;
    }
}

/*nav bar menu*/
@media screen and (max-width: 800px)
    {
        .container{
            padding: 0 20px;
            margin: 10px;
        }
        .menu-btn{
            display: block;
            z-index: 999;
        }
        .menu-btn i.active::before{
            content: "\f00d";
        }
    .nav-bar .menu{
        position: fixed;
        background: var(--primary-color);
        height: 100vh;
        width: 100%;
        left: -100%;
        top:0 ;
        text-align: center;
        padding-top: 60px;
        transition: all 0.3s ease;
    }
    .nav-bar .menu.active{
        left:0;
    }
    .nav-bar .menu li{
        display: block;
    }
    .nav-bar .menu li a{
        display: inline-block;
        margin:20px 0;
    }
}


/*about media query*/
@media(max-width:815px) {
    #about .container .about-content{
        flex-wrap: wrap;
    }
    #about .container .about-content .left{
        width: 100%;
        padding: 0 20px;
    }
    #about .container .about-content .right{
        width: 100%;
        padding: 0 20px;
    }
}

/*media queries........*/

/*experience media query*/
@media(min-width:750px) {
    .excontainer .timeline{
        padding: 0 30px;
    }
    .timeline::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: white;
        transform: translateX(-50%);
        left: 50%;
        
    }
    .timeline ul li{
       width: 50%;
        margin-bottom: 50px;
        position: relative;
    } 
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-15px);
        border-radius: 10px 0 10px 10px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(15px);
        border-radius:  0 10px  10px 10px;
    }
    .timeline ul li::after{
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        background-color: var(--secondary-gray);
        top: 0;
        border-radius: 50%;
    }
    .timeline ul li:nth-child(odd)::after{
        right: -15px;
        transform: translate(50%,-50%);

    }
    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left:-15px;
    }
    .timeline ul li:hover::after{
        background-color:var(--primary-color);
    }
}

/*project media query*/
@media(max-width:800px){
    .projects .pr-container .pr-card{
        width: 100%;
    }
}
 /*contact media query*/
 @media(max-width:700px) {
    .contact{
        padding: 50px;
    }
    
    .contact .container .content{
        flex-direction: column;
    }
    .contact .right,.contact .contactInfo{
        width: 100%;
    }
    
}